<!DOCTYPE html>
<html lang="fr">
<head>
    <link rel="stylesheet" href="../CSS/navbar.css">
</head>
<body>
<nav>
    <ul>
        <li id="index"><a href="../index.html">Home Page</a></li>
        <li id="budget"><a href="../pages/budget.html">Budget</a></li>
        <li id="category"><a href="../pages/category.html">Category</a></li>
        <li id="subscription"><a href="../pages/subscription.html">Subscription</a></li>
        <li id="transaction"><a href="../pages/transaction.html">Transaction</a></li>
        <li id="statistics"><a href="../pages/statistics.html">Statistics</a></li>
        <li id="description"><a href="../pages/description.html">Descriptions</a></li>
    </ul>
</nav>
</body>
