#budgetForm{
    border: 1px solid black;
    width: 50%;
    margin: 20% 25%;
}

body {
    font-family: Arial, sans-serif;
    max-width: 600px;
    margin: auto;
    text-align: center;
}

button {
    cursor: pointer;
    width: 10%;
    height: 5vh;
    background: #191f5a;
    color: white;
    font-weight: bold;
    margin: 5% 0% 1% 0%;
}

h2{
    text-align: center;
}

#budget_div, #date_div{
    display: inline-block;
    width: 49%;
}

input{
    height: 30px;
    border-radius: 10px;
    font-size: 18px;
}

label{
    font-size: 20px;
}